--
-- PostgreSQL database dump
--

-- Dumped from database version 14.0
-- Dumped by pg_dump version 14.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cliente; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.cliente (
    id integer NOT NULL,
    email character varying,
    name character varying,
    phone character varying,
    nit character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone
);


ALTER TABLE public.cliente OWNER TO linuxer;

--
-- Name: cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.cliente_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cliente_id_seq OWNER TO linuxer;

--
-- Name: cliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.cliente_id_seq OWNED BY public.cliente.id;


--
-- Name: cotizacion; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.cotizacion (
    id integer NOT NULL,
    numero integer NOT NULL,
    "clientName" character varying,
    nit character varying,
    items jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone,
    subtotal numeric NOT NULL,
    descuento numeric NOT NULL,
    total numeric NOT NULL
);


ALTER TABLE public.cotizacion OWNER TO linuxer;

--
-- Name: cotizacion_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.cotizacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cotizacion_id_seq OWNER TO linuxer;

--
-- Name: cotizacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.cotizacion_id_seq OWNED BY public.cotizacion.id;


--
-- Name: factura; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.factura (
    id integer NOT NULL,
    numero integer NOT NULL,
    "clientName" character varying,
    nit character varying,
    items jsonb,
    xml text,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone,
    subtotal numeric NOT NULL,
    descuento numeric NOT NULL,
    total numeric NOT NULL,
    cuf text NOT NULL,
    json jsonb,
    estado text NOT NULL,
    pdf text,
    cufd text DEFAULT ''::text NOT NULL,
    "tipoEmision" text DEFAULT 'EN LINEA'::text NOT NULL,
    "fechaFactura" timestamp without time zone NOT NULL
);


ALTER TABLE public.factura OWNER TO linuxer;

--
-- Name: factura_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.factura_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.factura_id_seq OWNER TO linuxer;

--
-- Name: factura_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.factura_id_seq OWNED BY public.factura.id;


--
-- Name: file; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.file (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    path character varying NOT NULL
);


ALTER TABLE public.file OWNER TO linuxer;

--
-- Name: forgot; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.forgot (
    id integer NOT NULL,
    hash character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone,
    "userId" integer
);


ALTER TABLE public.forgot OWNER TO linuxer;

--
-- Name: forgot_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.forgot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.forgot_id_seq OWNER TO linuxer;

--
-- Name: forgot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.forgot_id_seq OWNED BY public.forgot.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO linuxer;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO linuxer;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: producto; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.producto (
    id integer NOT NULL,
    detalle character varying,
    "codigoProducto" character varying,
    "codigoProductoSiat" character varying NOT NULL,
    "codigoUnidadMedida" character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone,
    cantidad numeric DEFAULT '0'::numeric NOT NULL,
    precio numeric DEFAULT '0'::numeric NOT NULL
);


ALTER TABLE public.producto OWNER TO linuxer;

--
-- Name: producto_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.producto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.producto_id_seq OWNER TO linuxer;

--
-- Name: producto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.producto_id_seq OWNED BY public.producto.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.role (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.role OWNER TO linuxer;

--
-- Name: status; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public.status (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.status OWNER TO linuxer;

--
-- Name: user; Type: TABLE; Schema: public; Owner: linuxer
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    email character varying,
    password character varying,
    provider character varying DEFAULT 'email'::character varying NOT NULL,
    "socialId" character varying,
    "firstName" character varying,
    "lastName" character varying,
    hash character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "deletedAt" timestamp without time zone,
    "photoId" uuid,
    "roleId" integer,
    "statusId" integer
);


ALTER TABLE public."user" OWNER TO linuxer;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: linuxer
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO linuxer;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: linuxer
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: cliente id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.cliente ALTER COLUMN id SET DEFAULT nextval('public.cliente_id_seq'::regclass);


--
-- Name: cotizacion id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.cotizacion ALTER COLUMN id SET DEFAULT nextval('public.cotizacion_id_seq'::regclass);


--
-- Name: factura id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.factura ALTER COLUMN id SET DEFAULT nextval('public.factura_id_seq'::regclass);


--
-- Name: forgot id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.forgot ALTER COLUMN id SET DEFAULT nextval('public.forgot_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: producto id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.producto ALTER COLUMN id SET DEFAULT nextval('public.producto_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: linuxer
--



--
-- Data for Name: cotizacion; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.cotizacion (id, numero, "clientName", nit, items, "createdAt", "updatedAt", "deletedAt", subtotal, descuento, total) FROM stdin;
\.


--
-- Data for Name: factura; Type: TABLE DATA; Schema: public; Owner: linuxer
--



--
-- Data for Name: file; Type: TABLE DATA; Schema: public; Owner: linuxer
--



--
-- Data for Name: forgot; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.forgot (id, hash, "createdAt", "deletedAt", "userId") FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.migrations (id, "timestamp", name) FROM stdin;
1	1661762237009	XmlAFACsjh1661762237009
2	1661781356543	XmlAFA1661781356543
3	1662417854703	XmlAFAj1662417854703
4	1662420204826	XmlAFAjs1662420204826
5	1662420785323	XmlAFAjsds1662420785323
6	1662503726262	XmlAFAjsdsb1662503726262
7	1662534261785	XmlAJB1662534261785
8	1662559143497	XmlAJBl1662559143497
9	1662996195314	XmlAFAjsdsbj1662996195314
10	1662998198785	Xml1662998198785
11	1663013364725	Xml54gf1663013364725
12	1663599756032	XmlAFAjsdsbjjg1663599756032
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.producto (id, detalle, "codigoProducto", "codigoProductoSiat", "codigoUnidadMedida", "createdAt", "updatedAt", "deletedAt", cantidad, precio) FROM stdin;
8	TELA DE PRUEBA	TP	62131	30	2022-10-15 12:00:25.56327	2022-10-15 12:00:25.56327	\N	99999999	15
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.role (id, name) FROM stdin;
2	User
1	Admin
\.


--
-- Data for Name: status; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public.status (id, name) FROM stdin;
1	Active
2	Inactive
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: linuxer
--

COPY public."user" (id, email, password, provider, "socialId", "firstName", "lastName", hash, "createdAt", "updatedAt", "deletedAt", "photoId", "roleId", "statusId") FROM stdin;
1	admin@example.com	$2a$10$1/pJHlqyxfJPjJp26IKpWunB8t/NMhcBVauqHmHSwHaPu6w2RKIyO	email	\N	Super	Admin	\N	2022-10-13 15:51:20.15882	2022-10-13 15:51:20.15882	\N	\N	1	1
7	test@example.com	$2a$10$S5v5bQomhFhXTgxFedrZ6eEdUW34ZZfhxYzYq8kloc.0sjJ1068na	email	\N	John	Doe	375d1caa4ab77b62d7dcf7b099cc60af53adc5fac0dfd4682ae4bd8f44795222	2022-10-15 11:56:44.831094	2022-10-15 11:56:44.831094	\N	\N	2	1
\.


--
-- Name: cliente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.cliente_id_seq', 13911, true);


--
-- Name: cotizacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.cotizacion_id_seq', 1, false);


--
-- Name: factura_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.factura_id_seq', 56840, true);


--
-- Name: forgot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.forgot_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.migrations_id_seq', 12, true);


--
-- Name: producto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.producto_id_seq', 8, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: linuxer
--

SELECT pg_catalog.setval('public.user_id_seq', 7, true);


--
-- Name: forgot PK_087959f5bb89da4ce3d763eab75; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.forgot
    ADD CONSTRAINT "PK_087959f5bb89da4ce3d763eab75" PRIMARY KEY (id);


--
-- Name: cliente PK_18990e8df6cf7fe71b9dc0f5f39; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT "PK_18990e8df6cf7fe71b9dc0f5f39" PRIMARY KEY (id);


--
-- Name: file PK_36b46d232307066b3a2c9ea3a1d; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.file
    ADD CONSTRAINT "PK_36b46d232307066b3a2c9ea3a1d" PRIMARY KEY (id);


--
-- Name: producto PK_5be023b11909fe103e24c740c7d; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT "PK_5be023b11909fe103e24c740c7d" PRIMARY KEY (id);


--
-- Name: cotizacion PK_84a2ae8abd0e7f658978b29a4b9; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.cotizacion
    ADD CONSTRAINT "PK_84a2ae8abd0e7f658978b29a4b9" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: role PK_b36bcfe02fc8de3c57a8b2391c2; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT "PK_b36bcfe02fc8de3c57a8b2391c2" PRIMARY KEY (id);


--
-- Name: factura PK_ca804984009ea42a7b46adb9a86; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT "PK_ca804984009ea42a7b46adb9a86" PRIMARY KEY (id);


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: status PK_e12743a7086ec826733f54e1d95; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.status
    ADD CONSTRAINT "PK_e12743a7086ec826733f54e1d95" PRIMARY KEY (id);


--
-- Name: cotizacion UQ_d0d9025c56f5accfe6161a1b629; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.cotizacion
    ADD CONSTRAINT "UQ_d0d9025c56f5accfe6161a1b629" UNIQUE (numero);


--
-- Name: user UQ_e12875dfb3b1d92d7d7c5377e22; Type: CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_e12875dfb3b1d92d7d7c5377e22" UNIQUE (email);


--
-- Name: IDX_061a0392f6d4a57ef352ac5fd2; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_061a0392f6d4a57ef352ac5fd2" ON public.cotizacion USING btree (descuento);


--
-- Name: IDX_14d8be3eacee56073ff450f6f1; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_14d8be3eacee56073ff450f6f1" ON public.factura USING btree (cufd);


--
-- Name: IDX_27b31559fedc6d9e9bd64ea627; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_27b31559fedc6d9e9bd64ea627" ON public.cotizacion USING btree (subtotal);


--
-- Name: IDX_330f84bc5b342017cb02d3b813; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_330f84bc5b342017cb02d3b813" ON public.producto USING btree ("codigoProducto");


--
-- Name: IDX_3424338b696621f13af8874a28; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_3424338b696621f13af8874a28" ON public.factura USING btree (descuento);


--
-- Name: IDX_393c240e12215225afd2d32eb4; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_393c240e12215225afd2d32eb4" ON public.factura USING btree (numero);


--
-- Name: IDX_3a722445847d37bb66f41e1c16; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_3a722445847d37bb66f41e1c16" ON public.cliente USING btree (nit);


--
-- Name: IDX_3bc3b7080d5e8b29df6acc2fee; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_3bc3b7080d5e8b29df6acc2fee" ON public.factura USING btree ("clientName");


--
-- Name: IDX_4e1b9c3aed2daf2920da0b5039; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_4e1b9c3aed2daf2920da0b5039" ON public.factura USING btree (total);


--
-- Name: IDX_5015c3f5e604cffd2c410417d2; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_5015c3f5e604cffd2c410417d2" ON public.cotizacion USING btree (nit);


--
-- Name: IDX_58e4dbff0e1a32a9bdc861bb29; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_58e4dbff0e1a32a9bdc861bb29" ON public."user" USING btree ("firstName");


--
-- Name: IDX_6d84001bbabca2564f13d7a174; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_6d84001bbabca2564f13d7a174" ON public.factura USING btree (nit);


--
-- Name: IDX_9a0b36d94e8dcc54df3b04e294; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_9a0b36d94e8dcc54df3b04e294" ON public.factura USING btree ("tipoEmision");


--
-- Name: IDX_9bd2fe7a8e694dedc4ec2f666f; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_9bd2fe7a8e694dedc4ec2f666f" ON public."user" USING btree ("socialId");


--
-- Name: IDX_9bf0080547ccc3a41338f87763; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_9bf0080547ccc3a41338f87763" ON public.factura USING btree (cuf);


--
-- Name: IDX_9f980bea5efb593416923493ec; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_9f980bea5efb593416923493ec" ON public.factura USING btree (subtotal);


--
-- Name: IDX_9fadcf46a3f35232515cf4eeff; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_9fadcf46a3f35232515cf4eeff" ON public.factura USING btree (estado);


--
-- Name: IDX_abfd1103df8e9fee038988e61d; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_abfd1103df8e9fee038988e61d" ON public.cotizacion USING btree ("clientName");


--
-- Name: IDX_b81449bd943da137055cb6bffb; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_b81449bd943da137055cb6bffb" ON public.producto USING btree (detalle);


--
-- Name: IDX_c261516a8a2ff25e75496072b4; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_c261516a8a2ff25e75496072b4" ON public.factura USING btree ("fechaFactura");


--
-- Name: IDX_c9d38e6915a432b12dfe5b13da; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_c9d38e6915a432b12dfe5b13da" ON public.cotizacion USING btree (total);


--
-- Name: IDX_d0d9025c56f5accfe6161a1b62; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_d0d9025c56f5accfe6161a1b62" ON public.cotizacion USING btree (numero);


--
-- Name: IDX_df507d27b0fb20cd5f7bef9b9a; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_df507d27b0fb20cd5f7bef9b9a" ON public.forgot USING btree (hash);


--
-- Name: IDX_e282acb94d2e3aec10f480e4f6; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_e282acb94d2e3aec10f480e4f6" ON public."user" USING btree (hash);


--
-- Name: IDX_f0e1b4ecdca13b177e2e3a0613; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_f0e1b4ecdca13b177e2e3a0613" ON public."user" USING btree ("lastName");


--
-- Name: IDX_f53395511a5b6d0df8e8f6c3b7; Type: INDEX; Schema: public; Owner: linuxer
--

CREATE INDEX "IDX_f53395511a5b6d0df8e8f6c3b7" ON public.cliente USING btree (phone);


--
-- Name: forgot FK_31f3c80de0525250f31e23a9b83; Type: FK CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public.forgot
    ADD CONSTRAINT "FK_31f3c80de0525250f31e23a9b83" FOREIGN KEY ("userId") REFERENCES public."user"(id);


--
-- Name: user FK_75e2be4ce11d447ef43be0e374f; Type: FK CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_75e2be4ce11d447ef43be0e374f" FOREIGN KEY ("photoId") REFERENCES public.file(id);


--
-- Name: user FK_c28e52f758e7bbc53828db92194; Type: FK CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_c28e52f758e7bbc53828db92194" FOREIGN KEY ("roleId") REFERENCES public.role(id);


--
-- Name: user FK_dc18daa696860586ba4667a9d31; Type: FK CONSTRAINT; Schema: public; Owner: linuxer
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_dc18daa696860586ba4667a9d31" FOREIGN KEY ("statusId") REFERENCES public.status(id);


--
-- PostgreSQL database dump complete
--

